.todo-item {
  display: flex;
  justify-content: space-between;
  z-index: 0;
  width: 100%;
  min-height: 100px;
  background-color: #F2D0A3;
  margin: 10px 0px;
  padding: 0px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  transition: all 100ms ease-in-out;
  &.completed {
    background-color: #989898;
    text-decoration: line-through;
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 4px 6px rgba(0,0,0,0.4);
  }
}

.item-time {
  width: 80px;
  height: 100%;
  border-right: 1px solid grey;
  padding: 0 10px;
  align-self: center;
  p {
    font-size: 24px;
    margin: 0;
  }
}

.item-title {
  flex: 1;
  align-self: center;
  padding: 0 10px;
  h2 {
    margin: 0;
    text-align: left;
  }
}

.item-buttons {
  align-self: center;
  width: 80px;
  height: 80px;
  padding: 10px 10px;
  border-left: 1px solid grey;
  button {
    color: #fff;
    background-color: #f38181;
    z-index: 1;
    height: 100%;
    width: 100%;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    transition: all 300ms ease;
    &:hover {
      background-color: #e25f5f;
    }
  }
}
